<div class="word-list-container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>{{words.length }} Words found</h2>
    <button (click)="addWord()" mat-raised-button color="primary" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon class="button-icon">add_circle_outline</mat-icon>
      <span> Add Word</span>
    </button>
  </div>

  <div fxLayout="row wrap">
    <app-word-card *ngFor="let word of words; let i=index" [(word)]="words[i]" (wordDelete)="removeWord(i)"
                   fxFlex="calc(24% - 16px)" fxFlex.lt-sm="100" fxLayout.xs="column"></app-word-card>
  </div>
</div>

